
body {
    background-image: url(images/Black\ Minimalist\ Quotes\ Phone\ Wallpaper.png);
    background-size: cover;
    background-position: 0px;
    padding: 13px;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}





.form {
    text-align: right;
    width: 200px;
    margin-right: auto;
    padding-right: 0px;
}

. {
   color: chocolate;
}
